// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

//components
@import 'components/default';
@import 'components/button';
@import 'components/modal';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

